* {
    font-family:Arial, Helvetica, sans-serif;
}

/* border: ukuran - style - warna */
.border-1{
    border: 5px solid goldenrod;
    border-bottom-width: 10px ;
}

/*  jika 1 arah, gunakan border-top dengan border tanpa menggunakan solid*/
#para-1{
    border: 4px;
    border-top-style: solid;
}

#para-2{
    border: 4px;
    border-bottom-color: blueviolet;
    border-bottom-width: 10px;
    border-bottom-style: dashed;
}

#para-3{
    border: 2px;
    border-right-style:ridge;
    border-right-color: blue  ;
}


